#header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
  padding: 10px 0;
  transition: all 0.5s;
}
#header .center {
  width: 1420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .center h1 {
  margin-left: 10px;
}
#header .center h1 a {
  background-image: url(../img/logo2.png);
  display: block;
  width: 60px;
  height: 60px;
}
#header .center .gnb {
  display: flex;
}
#header .center .gnb li {
  padding: 30px 16px 15px;
}
#header .center .gnb li::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #fff;
  margin-top: 15px;
}
#header .center .gnb li a {
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.5s;
}
#header .center .gnb li.on a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: 15px;
}
#header .center .login {
  display: block;
  width: 115px;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  background-color: #fff;
  color: #494949;
  border-radius: 5px;
}

#header.fixed {
  background-color: #fff;
}
#header.fixed .center h1 a {
  background-image: url(../img/logo.png);
}
#header.fixed .center .gnb li a {
  color: #040c2c;
}
#header.fixed .center .gnb li.on a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #040c2c;
  margin-top: 15px;
}
#header.fixed .center .login {
  background-color: #040c2c;
  color: #fff;
}

#container .cont1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../img/profile.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#container .cont1 .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#container .cont1 .textWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
#container .cont1 .textWrap .hello {
  font-size: 15px;
}
#container .cont1 .textWrap .title {
  font-size: 40px;
  margin: 45px 0 35px;
}
#container .cont1 .textWrap .sub_title {
  font-size: 20px;
  margin-bottom: 40px;
}
#container .cont1 .textWrap .icons {
  display: flex;
  justify-content: center;
}
#container .cont1 .textWrap .icons li a {
  display: flex;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 15px;
  border-radius: 50%;
}
#container .cont1 .textWrap .icons li a span {
  font-size: 15px;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 35px;
}
#container .cont2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .cont2 .cont2_textWrap .about {
  font-size: 28px;
  color: #040c2c;
}
#container .cont2 .cont2_textWrap .sub_about {
  color: #999;
  font-size: 15px;
  margin: 20px 0 40px;
}
#container .cont2 .cont2_textWrap .explain {
  color: #777;
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 55px;
}
#container .cont2 .cont2_textWrap .btns {
  display: flex;
}
#container .cont2 .cont2_textWrap .btns .btn {
  display: block;
  font-size: 15px;
  color: #fff;
  padding: 16px 40px;
  margin-right: 20px;
  background-color: #333;
  border-radius: 5px;
}
#container .cont3 {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}
#container .cont3 .center {
  width: 1120px;
}
#container .cont3 .center .cont3_textWrap {
  padding: 115px 0 70px;
  text-align: center;
}
#container .cont3 .center .cont3_textWrap .doing {
  font-size: 28px;
  margin-bottom: 20px;
}
#container .cont3 .center .cont3_textWrap .do {
  font-size: 15px;
  color: #888;
}
#container .cont3 .center .cont3_textWrap .do::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background-color: #bcbcbc;
  margin: 25px auto 0;
}
#container .cont3 .center .boxWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#container .cont3 .center .boxWrap .box {
  background-color: #fff;
  border: 1px solid #f3f1f1;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 25px 48px;
}
#container .cont3 .center .boxWrap .box .boxicon {
  border: 1px solid #8b8b8b;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  margin: 40px auto 25px;
}
#container .cont3 .center .boxWrap .box .boxicon span {
  display: block;
  line-height: 80px;
  font-size: 35px;
  color: #8b8b8b;
}
#container .cont3 .center .boxWrap .box .box_title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}
#container .cont3 .center .boxWrap .box .box_context {
  font-size: 14px;
  color: #777;
  line-height: 30px;
}
#container .cont4 {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-bottom: 100px;
}
#container .cont4 .center {
  width: 70%;
}
#container .cont4 .center .cont4_textWrap {
  text-align: center;
}
#container .cont4 .center .cont4_textWrap .my {
  color: #040c2c;
  font-size: 27px;
  margin: 120px 0 30px;
}
#container .cont4 .center .cont4_textWrap p {
  color: #777;
  font-size: 14px;
}
#container .cont4 .center .cont4_textWrap p::after {
  content: "";
  display: flex;
  width: 81px;
  height: 2px;
  background-color: #bcbcbc;
  margin: 25px auto 60px;
}
#container .cont4 .center .menu {
  display: flex;
  justify-content: center;
}
#container .cont4 .center .menu li {
  transition: all 0.5s;
}
#container .cont4 .center .menu li a {
  display: block;
  border: 1px solid #bcbcbc;
  color: #040c2c;
  line-height: 38px;
  padding: 0 20px;
  margin: 0 15px 48px;
}
#container .cont4 .center .menu li.on a {
  color: #fff;
  background-color: #040c2c;
}
#container .cont4 .center .listWrap {
  display: flex;
  flex-wrap: wrap;
}
#container .cont4 .center .listWrap .all {
  width: 31%;
  margin: 1%;
  position: relative;
}
#container .cont4 .center .listWrap .all:hover .list_bg {
  opacity: 1;
}
#container .cont4 .center .listWrap .all img {
  width: 100%;
}
#container .cont4 .center .listWrap .all .list_bg {
  transition: all 0.5s;
  background-color: rgba(250, 250, 250, 0.9);
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  opacity: 0;
}
#container .cont4 .center .listWrap .all .list_bg .content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#container .cont4 .center .listWrap .all .list_bg .content p {
  color: #494949;
  font-size: 20px;
  font-weight: bold;
}
#container .cont4 .center .listWrap .all .list_bg .content .icons4 {
  display: flex;
  justify-content: center;
  margin: 10px;
}
#container .cont4 .center .listWrap .all .list_bg .content .icons4 .iconBg {
  background-color: #040c2c;
  border-radius: 50%;
  padding: 8px;
  margin: 0 3px;
  border: 1px solid #040c2c;
  box-sizing: border-box;
  transition: all 0.5s;
}
#container .cont4 .center .listWrap .all .list_bg .content .icons4 .iconBg span {
  color: #fff;
  font-size: 20px;
}
#container .cont4 .center .listWrap .all .list_bg .content .icons4 .iconBg:hover {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #040c2c;
}
#container .cont4 .center .listWrap .all .list_bg .content .icons4 .iconBg:hover span {
  color: #040c2c;
}
#container .cont4 .center .listWrap .small {
  width: 23%;
  height: 245px;
}
#container .cont4 .center .listWrap .small img {
  height: 100%;
}
#container .cont4 .center .listWrap .big {
  width: 48%;
  height: 530px;
}
#container .cont4 .center .listWrap .big img {
  height: 100%;
}
#container .cont5 {
  display: flex;
  justify-content: center;
  color: #fafafa;
  height: 100%;
  padding: 120px 0;
}
#container .cont5 .center {
  width: 70%;
}
#container .cont5 .center .countboxWrap {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
#container .cont5 .center .countboxWrap h2 {
  margin-bottom: 20px;
}
#container .cont5 .center .countboxWrap h2 span {
  font-size: 40px;
  color: #888;
}
#container .cont5 .center .countboxWrap .countUp {
  color: #000;
  font-size: 35px;
}
#container .cont5 .center .countboxWrap .context {
  margin-top: 25px;
  color: #888;
}
#container .cont6 {
  height: 540px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
#container .cont6 .slider {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
#container .cont6 .slider .view {
  display: flex;
  justify-content: center;
  width: 300%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}
#container .cont6 .slider .view .s_box {
  width: 33.333333%;
  margin-left: 0;
}
#container .cont6 .slider .view .s_box .b_textWrap {
  padding: 100px 0 50px;
  text-align: center;
}
#container .cont6 .slider .view .s_box .b_textWrap img {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  border: 1px solid #fff;
}
#container .cont6 .slider .view .s_box .b_textWrap .b_name {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  margin: 25px 0 20px;
}
#container .cont6 .slider .view .s_box .b_textWrap .custom {
  font-size: 13px;
  color: #888;
  margin-bottom: 35px;
}
#container .cont6 .slider .view .s_box .b_textWrap .b_context {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
#container .cont6 .slider .circleBtn {
  text-align: center;
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
#container .cont6 .slider .circleBtn .cir {
  background-color: #999;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 8px;
}
#container .cont6 .slider .circleBtn .cir.on {
  background-color: #fff;
}
#container .cont7 {
  display: flex;
  justify-content: center;
}
#container .cont7 .center {
  width: 1150px;
  padding: 100px 0;
}
#container .cont7 .center .topWrap {
  text-align: center;
}
#container .cont7 .center .topWrap .title {
  font-size: 27px;
  margin-bottom: 20px;
}
#container .cont7 .center .topWrap .text {
  font-size: 14px;
  color: #494949;
  line-height: 20px;
}
#container .cont7 .center .topWrap .text::after {
  content: "";
  display: flex;
  width: 81px;
  height: 2px;
  background-color: #bcbcbc;
  margin: 25px auto 60px;
}
#container .cont7 .center .botimgWrap {
  display: flex;
  justify-content: space-between;
}
#container .cont7 .center .botimgWrap img {
  width: 135px;
  margin: 0 1%;
}
#container .cont8 {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}
#container .cont8 .center {
  width: 1150px;
  padding: 150px 0;
}
#container .cont8 .center .topWrap {
  text-align: center;
}
#container .cont8 .center .topWrap .title {
  font-size: 27px;
  margin-bottom: 20px;
}
#container .cont8 .center .topWrap .text {
  font-size: 14px;
  color: #494949;
  line-height: 20px;
}
#container .cont8 .center .topWrap .text::after {
  content: "";
  display: flex;
  width: 81px;
  height: 2px;
  background-color: #bcbcbc;
  margin: 25px auto 80px;
}
#container .cont8 .center .blogboxWrap {
  display: flex;
  justify-content: space-between;
}
#container .cont8 .center .blogboxWrap .blogbox {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  border: 1px solid #ccc;
}
#container .cont8 .center .blogboxWrap .blogbox .imgWrap {
  position: relative;
}
#container .cont8 .center .blogboxWrap .blogbox .imgWrap img {
  width: 350px;
}
#container .cont8 .center .blogboxWrap .blogbox .imgWrap .date {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 55px;
  background-color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}
#container .cont8 .center .blogboxWrap .blogbox .imgWrap .date p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}
#container .cont8 .center .blogboxWrap .blogbox .wirter {
  padding: 20px 0 20px 20px;
  display: flex;
}
#container .cont8 .center .blogboxWrap .blogbox .wirter span {
  font-size: 17px;
  padding-right: 10px;
}
#container .cont8 .center .blogboxWrap .blogbox .wirter .by {
  font-size: 15px;
}
#container .cont8 .center .blogboxWrap .blogbox .blogTitle {
  font-size: 17px;
  font-weight: bold;
  padding: 0 0 25px 20px;
}
#container .cont8 .center .blogboxWrap .blogbox .context {
  padding: 0 0 25px 20px;
  font-size: 15px;
  color: #888;
  line-height: 22px;
}
#container .cont8 .center .blogboxWrap .blogbox .more {
  display: block;
  color: #666;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 30px 20px;
}
#container .cont9 {
  width: 100%;
  height: 100%;
}
#container .cont9 #map {
  width: 100%;
  height: 500px;
}
#container .cont10 {
  display: flex;
  justify-content: center;
}
#container .cont10 .center {
  display: flex;
  padding: 100px 0;
}
#container .cont10 .center .leftWrap {
  margin-right: 100px;
}
#container .cont10 .center .leftWrap .title {
  color: #040c2c;
  font-size: 30px;
  margin-bottom: 50px;
}
#container .cont10 .center .leftWrap .textWrap .Wrap {
  display: flex;
}
#container .cont10 .center .leftWrap .textWrap .Wrap span {
  font-size: 20px;
  padding-right: 10px;
  color: #666;
}
#container .cont10 .center .leftWrap .textWrap .Wrap p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #666;
}
#container .cont10 .center .RightWrap .title {
  color: #040c2c;
  font-size: 30px;
  margin-bottom: 50px;
}
#container .cont10 .center .RightWrap .Wrap {
  margin-bottom: 30px;
}
#container .cont10 .center .RightWrap .Wrap input {
  border: 1px solid #bcbcbc;
  width: 300px;
  padding: 15px 0 15px 20px;
  margin-right: 30px;
  outline: none;
}
#container .cont10 .center .RightWrap textarea {
  width: 655px;
  height: 147px;
  border: 1px solid #bcbcbc;
  resize: none;
  padding: 15px 0 15px 20px;
  outline: none;
}
#container .cont10 .center .RightWrap .send {
  display: block;
  width: 198px;
  color: #fff;
  background-color: #494949;
  line-height: 52px;
  text-align: center;
  margin-top: 30px;
}

#footer {
  background-color: #040c2c;
  padding: 50px 0;
}
#footer .center {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
#footer .center .f_logo img {
  width: 55px;
}
#footer .center .icons {
  margin: 30px 0 20px;
  display: flex;
  justify-content: center;
}
#footer .center .icons .bd {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 30px;
  margin: 0 10px;
}
#footer .center .icons .bd span {
  display: flex;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  position: relative;
  left: 6px;
}
#footer .center .text {
  font-size: 13px;
  color: #fff;
}
#footer .center .text span {
  color: #8b8b8b;
}
#footer .center .copyR {
  font-size: 13px;
  color: #fff;
  margin: 10px 0 30px;
}

* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

body {
  line-height: 1;
}

input, select {
  border: none;
}

.clear_fix::after {
  content: "";
  display: block;
  clear: both;
}